In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [22]:
df = pd.read_csv('train.csv')
df.shape

(404290, 6)

In [23]:
df.head(5)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [45]:
df = df.sample(30000)

In [46]:
df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [47]:
df.duplicated().sum()

np.int64(0)

In [48]:
qdf = df[['question1', 'question2']]
qdf.head(5)

,question1,question2
290313,What is a good book to understand human behavior?,What is the best book to learn about human beh...
360025,What causes black spots on skin?,What are black spots on skin called?
289046,Why am I alive?,Why should I stay alive?
153595,What type of car do you currently drive?,What type of car do you drive and what does th...
252503,How do I have my first sex with my wife?,How should I get sex with my wife?

In [49]:
questions = list(qdf['question1']) + list(qdf['question2'])
questions = [q if not pd.isna(q) else '' for q in questions]
print('3')
cv = CountVectorizer(max_features=3000)
print('2')
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(), 2)
print(1)
print(len(q1_arr))

3
2
1
30000

In [52]:
temp_df1 = pd.DataFrame(q1_arr, index=qdf.index)
temp_df2 = pd.DataFrame(q2_arr, index=qdf.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [54]:
temp_df['is_duplicate'] = df['is_duplicate']

In [58]:
temp_df.shape

(30000, 6001)

In [60]:
X_train, X_test, Y_train, Y_test = train_test_split(temp_df.iloc[:, 0:-1].values, temp_df.iloc[:, -1].values, test_size=0.2, random_state=2)

In [65]:
rfc = RandomForestClassifier()
print('please wait...')
rfc.fit(X_train, Y_train)
print('complete')

please wait...
complete

In [66]:
Y_pred = rfc.predict(X_test)
accuracy_score(Y_test, Y_pred)

0.7373333333333333